# Ignore for STEPS base folder

# Ignore all user folders except the tutorials, examples and tests folder
user/+*
!user/+tutorials
!user/+examples
!user/+tests

# Ignore simulation results, excepct README
data/*
!data/README.md

# Ignore stupid MATLAB prerelease folder
SupportPackages/

# We DO manage main.m and init.m, but NOT the main_xyz.m etc
main_*.m

# Exclude all Matlab autosave files
*.m~
*.asv

# Tests
#test_*.m

# Ignore invisible files like .DS_Store from Macs
.DS_Store

# Ignore Excel temporary files
~*