[submodule "core"]
	path = core
	url = git@steps.lrt.mw.tum.de:core.git
[submodule "lib"]
	path = lib
	url = git@steps.lrt.mw.tum.de:lib.git
[submodule "user/+tutorials/+simple_flow"]
	path = user/+tutorials/+simple_flow
	url = git@steps.lrt.mw.tum.de:tutorials/simple_flow.git
[submodule "user/+tutorials/+gas_flow"]
	path = user/+tutorials/+gas_flow
	url = git@steps.lrt.mw.tum.de:tutorials/gas_flow.git
[submodule "user/+tutorials/+liquid_flow"]
	path = user/+tutorials/+liquid_flow
	url = git@steps.lrt.mw.tum.de:tutorials/liquid_flow.git
[submodule "user/+tutorials/+loop_flow"]
	path = user/+tutorials/+loop_flow
	url = git@steps.lrt.mw.tum.de:tutorials/loop_flow.git
[submodule "user/+tutorials/+p2p"]
	path = user/+tutorials/+p2p
	url = git@steps.lrt.mw.tum.de:tutorials/p2p.git
[submodule "user/+tutorials/+subsystems"]
	path = user/+tutorials/+subsystems
	url = git@steps.lrt.mw.tum.de:tutorials/subsystems.git
