[submodule "+systems"]
	path = +systems
	url = git@steps.lrt.mw.tum.de:core/systems.git
[submodule "+matter"]
	path = +matter
	url = git@steps.lrt.mw.tum.de:core/matter.git
[submodule "+geom"]
	path = +geom
	url = git@steps.lrt.mw.tum.de:core/geom.git
[submodule "+solver/+matter/+base"]
	path = +solver/+matter/+base
	url = git@steps.lrt.mw.tum.de:core/solver-matter-base.git
[submodule "+solver/+matter/+manual"]
	path = +solver/+matter/+manual
	url = git@steps.lrt.mw.tum.de:core/solver-matter-manual.git
[submodule "+solver/+matter/+linear"]
	path = +solver/+matter/+linear
	url = git@steps.lrt.mw.tum.de:core/solver-matter-linear.git
[submodule "+solver/+matter/+iterative"]
	path = +solver/+matter/+iterative
	url = http://steps.lrt.mw.tum.de/core/solver-matter-iterative.git
[submodule "+solver/+matter/+fdm_liquid"]
	path = +solver/+matter/+fdm_liquid
	url = http://steps.lrt.mw.tum.de/core/solver-matter-fdm_liquid.git
